<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>

    Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' https: http://localhost:* http://127.0.0.1:*; style-src 'self' 'unsafe-inline' https: *.jsdelivr.net *.cloudflare.com http://localhost:* http://127.0.0.1:*; script-src 'self' 'unsafe-inline' 'unsafe-eval' https: *.jsdelivr.net http://localhost:* http://127.0.0.1:*; img-src 'self' data: https:; font-src 'self' https: data: *.cloudflare.com *.jsdelivr.net; connect-src 'self' https: *.datatables.net http://localhost:* http://127.0.0.1:* ws://localhost:* ws://127.0.0.1:*;"

</IfModule>
