<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>

    Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval' blob: http://localhost:* http://127.0.0.1:*; script-src 'self' 'unsafe-inline' 'unsafe-eval' blob: http://localhost:* http://127.0.0.1:* *.jsdelivr.net *.google-analytics.com; script-src-elem 'self' 'unsafe-inline' 'unsafe-eval' blob: http://localhost:* http://127.0.0.1:* *.jsdelivr.net; style-src 'self' 'unsafe-inline' *.jsdelivr.net *.cloudflare.com fonts.bunny.net http://localhost:* http://127.0.0.1:*; style-src-elem 'self' 'unsafe-inline' *.jsdelivr.net *.cloudflare.com fonts.bunny.net http://localhost:* http://127.0.0.1:*; img-src 'self' data: blob:; font-src 'self' data: *.cloudflare.com *.jsdelivr.net fonts.bunny.net; connect-src 'self' http://localhost:* http://127.0.0.1:* *.datatables.net *.google-analytics.com fonts.bunny.net; worker-src 'self' blob:;"

</IfModule>
